.SponsorLink {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; text-decoration: none}
h1 {  font-family: Arial, Helvetica, sans-serif; color: #3c5490}
h2 {  font-family: Arial, Helvetica, sans-serif; color: #3c5490}
h3 {  font-family: Arial, Helvetica, sans-serif; color: #3c5490}
li {  font-family: Arial, Helvetica, sans-serif; font-size: x-small}
body {  font-family: Arial, Helvetica, sans-serif; font-size: x-small}
a:hover {  text-decoration: underline; color: #3366FF; font-family: Arial, Helvetica, sans-serif}
a:visited {  color: #990099; font-family: Arial, Helvetica, sans-serif}
a:active {  font-family: Arial, Helvetica, sans-serif; color: #FF0000; text-decoration: underline}
a {  font-family: Arial, Helvetica, sans-serif; color: #0000FF; text-decoration: none}
.index {  font-family: Arial, Helvetica, sans-serif; font-size: medium; font-style: italic; font-weight: bold}
.reference {  font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic}
h4 {  font-family: Arial, Helvetica, sans-serif; color: #3c5490}
ul {  font-family: Arial, Helvetica, sans-serif; font-size: small}
h5 {  font-family: Arial, Helvetica, sans-serif; color: #3C5490}
p {  font-family: Arial, Helvetica, sans-serif}
.data {  font-family: Arial, Helvetica, sans-serif; font-size: x-small}
.Template_Header {  font-family: "Times New Roman", Times, serif; font-size: xx-small; color: #0000CC; font-weight: bold}
